.backhead{
  background-image: url("https://5.imimg.com/data5/SELLER/Default/2022/11/CB/YH/FA/2469541/bright-pink-food-colours.jpg");
}
body{
    font-family: "Noto Sans Thai Looped";
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
.ccc{
  height:300px;
  margin: 5% 0 0 23%;
}
.imageer{

    text-align: left;
    margin: 0 0 0 18%;
}
.imageer2{
    text-align: left;
    border: 2px solid #000000;
    margin: 0 7% 0 7%;
    border-radius: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #000000;
  }
.centerpic{
  text-align: center;
  height: 300px;
  margin: 0 0 0 0;
  }
.rightpic {
    text-align: right;
    max-width: 100%;
    height: 300px;
    margin: 0 100px 0 100px;
    }
  .rightpicc{
      max-width: 100%;
      height: 300px;
      margin: 0 0 0 100px;
      }
.leftpic {
    text-align: left;
    max-width: 100%;
    height: 300px;
    margin: 0 100px 0 270px;
    }
 .goto{
    color: aquamarine;
        border: 2px salmon;
  }
  .ep{
    font-size: medium;
    padding: 10px;
    border:1px solid black;
    padding:1px;
    background-color:#F3E3D9;
    width: 200px;
    margin: auto;
    text-align: center;
  }
  .ex{
    font-size: medium;
    border:1px solid black;
    padding-right:1px;
    background-color:#F3E3D9;
    width: 20%;
    margin-top: 3%;
    margin-left: 10%;
  }
  .Topic{
    text-align: center;
    text-decoration: underline rgb(9, 9, 99);
  }
  .Topicleft{
    margin-left: 5%;
    text-decoration: underline rgb(9, 9, 99);
  }
  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    border: 2px solid salmon;
    background-color:#F3E3D9;
  }
  .textleft{
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    margin: 0 100px 0 370px;
    border-radius: 30px;
  }
  .textcenter{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0 100px 0 170px;
  }
  .textright{
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    margin: 0 100px 0 220px;
  }
.facebook{
  margin: 0 255px 0 320px;
}
.line{
  margin: 0 100px 0 280px;
}
.lll
{
  font-size: 30px;
  display: block;
  margin: 20px 0;
  text-align: center; 
  color: #333;
  text-decoration: none;
  border: 2px solid salmon;
  background-color:#F3E3D9;
  padding: 10px;
  width: 40%;
  transition: background-color 0.3s ease;
  margin: 50px 100px 0 30%;
}
.winter{
  width: 40%;
  margin: 0 0 0 0;
}
.orr{
  width: 10%;
  margin: 0 0 0 150px;
}
  